<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Realizada</title>
</head>
<body>
    <h1>Compra realizada con éxito</h1>

    <p>Código del ticket: {{ticket.code}}</p>
    <p>Total: ${{ticket.total.toFixed(2)}}</p>

    <h2>Productos:</h2>
    <ul>
        {{#each ticket.products}}
            <li>{{this.title}} - Cantidad: {{this.quantity}} - Precio: ${{this.price.toFixed(2)}} - Subtotal: ${{(this.price * this.quantity).toFixed(2)}}</li>
        {{/each}}
    </ul>

    <br><br>
    <a href="/cart">Volver al carrito</a>
</body>
</html>