{{#if carts}}
<h1>Carrito</h1>
{{#each carts}}
<div>
    {{#each this.products}}
     <div class="producto" data-price="{{this.product.price}}">
        <h2>Producto: {{this.product.title}}</h2>
        <img src="{{product.thumbnails}}" class="foto_producto">
        <h2>Descripcion: {{this.product.description}}</h2>
        <h2>Precio: {{this.product.price}}</h2>
        <div class ="carrito" data-quantity="{{this.quantity}}">
        <h2>Cantidad: {{this.quantity}}</h2>
        </div>
        <h2 class="subTotal"></h2>
        <br>
    </div>
    {{/each}} 
    <br></br>
</div>
{{/each}}
    <div>
        <h2 class="total"></h2>
        <button type='button' class='purchase' data-id=''>Finalizar compra</button>
    </div>
{{/if}}

<link rel="stylesheet" href="/css/styles.css">
<script src="/js/purchase.js"></script> 
